<p-button
  label="Back"
  styleClass="p-button-link"
  routerLink="/tours"
></p-button>

<div class="flex flex-1">

  @if (tour) {
    <p-card 
    header="{{tour.name}}"
    subheader="Цена: {{tour.price}}"
    styleClass="p-card-shadow col-10 overflow-hidden"
  >
    <ng-template #header>
      <img alt="Card" class="w-full" src="/img/{{tour.img}}">
    </ng-template>
    <p>{{ tour.description }}</p>

  </p-card>
  } @else {
    Нет данных
  }
  
  <div></div>

</div>  

<ng-template #noData>
  Нет данных
</ng-template>