<p-button
  label="Back"
  styleClass="p-button-link"
  routerLink="/tours"
></p-button>

<div class="flex flex-1 tour-item-wrap">

  @if (tour) {
    <div>
      <p-card 
      header="{{tour.name}}"
      subheader="Цена: {{tour.price}}"
      styleClass="p-card-shadow col-10 overflow-hidden"
    >
      <ng-template #header>
    <img alt="Card" class="w-full" src="/img/{{tour.img}}">
      </ng-template>
      <p>{{ tour.description }}</p>
      </p-card>
    </div>
  } @else {
    Нет данных
  }
  
  <div class="nearest-tour">
    <app-nearest-tours [tourNearest]="tour"/>
  </div>

</div>  

<ng-template #noData>
  Нет данных
</ng-template>