<div class="changePassword">
  <h2 class="changePassword-h2">Смена пароля</h2>
  <div class="form-group">
    <label for="oldPassword" class="form-label">Старый пароль:</label>
    <input type="password" [(ngModel)]="oldPassword" id="oldPassword" class="form-input" />
  </div>
  <div class="form-group">
    <label for="newPassword" class="form-label">Новый пароль:</label>
    <input type="password" [(ngModel)]="newPassword" id="newPassword" class="form-input" />
  </div>
  <div class="form-group">
    <label for="confirmPassword" class="form-label">Подтвердите новый пароль:</label>
    <input type="password" [(ngModel)]="confirmPassword" id="confirmPassword" class="form-input" />
  </div>
  <p-button label="Сменить пароль" (click)="changePassword()" class="submit-button"></p-button>
</div>
