<div>
    <h2>Смена пароля</h2>
    <div>
      <label for="oldPassword">Старый пароль:</label>
      <input type="password" [(ngModel)]="oldPassword" id="oldPassword" />
    </div>
    <div>
      <label for="newPassword">Новый пароль:</label>
      <input type="password" [(ngModel)]="newPassword" id="newPassword" />
    </div>
    <div>
      <label for="confirmPassword">Подтвердите новый пароль:</label>
      <input type="password" [(ngModel)]="confirmPassword" id="confirmPassword" />
    </div>
    <p-button label="Сменить пароль" (click)="changePassword()"></p-button>
  </div>
  
